@font-face {
  font-family: Akkurat;
  src: url("./fonts/Akkurat-Mono.OTF") format("opentype"); }

@font-face {
  font-family: Eames;
  font-weight: bold;
  src: url("./fonts/EamesCenturyModern-Stencil.otf") format("opentype"); }

@font-face {
  font-family: Eames-b;
  font-weight: bold;
  src: url("./fonts/EamesCenturyModern-Black.otf") format("opentype"); }

.navbar-collapse {
  position: relative;
  top: 4px; }

.footer {
  color: white;
  width: 100%;
  background-color: #265f3f;
  padding: 3em; }
  .footer a {
    color: white;
    text-decoration: underline; }
  .footer a:hover {
    color: white; }
  .footer h4 {
    font-family: 'Eames', 'Gravitas One', serif; }
  .footer i {
    font-size: 2em; }

body {
  background: #222;
  margin: 0;
  font-size: 16px;
  color: #FFF; }

#root {
  font-family: 'Roboto Mono', monospace; }

.main-banner {
  color: #265f3f;
  min-height: 100%;
  background-size: cover;
  background-image: url("./img/portada.jpg");
  background-position: center;
  background-repeat: no-repeat; }

.container {
  margin: 0 auto;
  padding: 0 2em; }

@media (min-width: 768px) {
  #nav .navbar-nav .nav-link {
    padding-right: 1.5rem; } }

#nav {
  font-family: 'Roboto Mono', serif;
  background-color: rgba(38, 95, 63, 0.9);
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 300; }
  #nav ul, #nav .navbar-brand {
    cursor: pointer; }

header {
  position: relative;
  background-color: #FD7777;
  padding: 18em 0 16em;
  z-index: 2; }
  header h1 {
    font-family: 'Eames-b', 'Gravitas One', cursive;
    font-size: 10em;
    text-align: center;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }
  header h3 {
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 1px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }

h1 {
  font-family: 'Eames', 'Gravitas One', cursive;
  font-size: 10em;
  text-align: center;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }

#foodGalleryGrid {
  width: 80%;
  display: block;
  overflow: auto;
  margin: auto; }

#localGallery {
  display: block;
  overflow: auto;
  margin: auto; }

.blocks {
  padding-top: 2em;
  padding-bottom: 2em; }

#about h3 {
  color: #265f3f;
  font-family: 'Akkurat', 'EB Garamont', serif;
  font-size: 4em;
  text-align: center; }

#the-space h3 {
  color: #265f3f;
  font-family: 'Akkurat', 'EB Garamont', serif;
  font-size: 4em;
  text-align: center; }

#the-gastronomy h3 {
  color: #265f3f;
  font-family: 'Akkurat', 'EB Garamont', serif;
  font-size: 4em;
  text-align: center; }

#the-location {
  background-image: url("./img/local_5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #the-location h3 {
    color: #265f3f;
    font-family: 'Akkurat', 'EB Garamont', serif;
    font-size: 4em;
    text-align: center; }

#opening-hours h3 {
  color: #265f3f;
  font-family: 'Akkurat', 'EB Garamont', serif;
  font-size: 4em;
  text-align: center; }

#book-now h3 {
  color: #265f3f;
  font-family: 'Akkurat', 'EB Garamont', serif;
  font-size: 4em;
  text-align: center; }

#events {
  min-height: 100%;
  background-size: cover;
  background-image: url("./img/local_13.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }
  #events h3 {
    color: #265f3f;
    font-family: 'Akkurat', 'EB Garamont', serif;
    font-size: 4em;
    text-align: center; }
  #events h1 {
    color: #265f3f;
    font-family: 'Eames-b', 'Gravitas One', cursive;
    font-size: 10em;
    text-align: center;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }

.description {
  background: rgba(255, 255, 255, 0.9);
  margin: 1em;
  padding: 3em;
  box-shadow: 4px 3px 0px #265f3f, 9px 8px 0px rgba(0, 0, 0, 0.15); }

.row {
  justify-content: center; }

.languages {
  float: right;
  cursor: pointer;
  color: white;
  position: relative;
  top: 4px; }
  .languages span:hover {
    text-decoration: underline; }

@media (max-width: 600px) {
  #localGallery img {
    width: 100%;
    height: auto !important; } }

@media (max-width: 1200px) {
  header h1 {
    font-size: 5em; }
  header h3 {
    font-size: 2em; }
  #opening-hours h3 {
    font-size: 2em; }
  #the-space h3 {
    font-size: 3em; }
  #events h1 {
    font-size: 5em; }
  #book-now h3 {
    font-size: 3em; }
  #the-location h3 {
    font-size: 2.5em; }
  .footer .container .row div {
    padding-bottom: 2em; }
  #foodGallery {
    display: block; } }

.mapouter {
  overflow: hidden;
  height: 500px; }

.gmap_canvas {
  background: none !important;
  height: 500px;
  width: 100%; }

#memberLogo {
  padding: 50px;
  text-align: center;
  margin: auto; }
  #memberLogo img {
    width: 300px; }

#restaurantLogos img {
  width: 150px;
  margin: 20px; }
