.footer {
  color: white;
  width: 100%;
  background-color: #458985;
  padding: 3em;
  h4 {
    font-family: 'Gravitas One', serif;
  }
}

body {
  background: #222;
  margin: 0;
  font-size: 16px;
  color: #FFF;
}

#root {
  font-family: 'Roboto Mono', monospace;

}

.main-banner {
  color: #458985;
  min-height: 100%;
  background-size: cover;
  background-image: url('./img/food_2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.container {
  margin: 0 auto;
  padding: 0 2em;
}

#nav {
  font-family: 'Gravitas One', serif;
  background-color: rgba(69, 137, 133, 0.90);
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 3;

  ul {
    cursor: pointer;
  }
}

header {
  position: relative;
  background-color: #FD7777;
  padding: 18em 0 16em;
  z-index: 2;
  h1 {
    font-family: 'Gravitas One', cursive;;
    font-size: 10em;
    text-align: center;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  }

  h3 {
    font-family: 'EB Garamont', serif;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 1px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    font-style: italic;
  }
}

h1 {
  font-family: 'Gravitas One', cursive;;
  font-size: 10em;
  text-align: center;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}



#foodGallery {
  width: 80%;
  display: block;
  overflow: auto;
  margin: auto;
}

#localGallery {
  width: 80%;
  display: block;
  overflow: auto;
  margin: auto;
}


.blocks {
  padding-top: 2em;
  padding-bottom: 2em;
}

#about {
  background: #A55C55;
  color: #D7D6A5;

  h3 {
    font-family: 'EB Garamont', serif;
    font-size: 4em;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 1px 0px #DBA67B, 9px 8px 0px rgba(0,0,0,0.15);

  }
}

#the-space {
  h3 {
    font-family: 'EB Garamont', serif;
    font-size: 4em;
    text-align: center;
    font-style: italic;
  }
}

#the-location {
  background-image: url('./img/local_5.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #D7D6A5;

  h3 {
    font-family: 'EB Garamont', serif;
    font-size: 4em;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 1px 0px #DBA67B, 9px 8px 0px rgba(0,0,0,0.15);

  }
}

#opening-hours {
  background: #074358;
  color: #D7D6A5;

  h3 {
    font-family: 'EB Garamont', serif;
    font-size: 4em;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 1px 0px #DBA67B, 9px 8px 0px rgba(0,0,0,0.15);

  }
}

#book-now {
  h3 {
    font-family: 'EB Garamont', serif;
    font-size: 4em;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 1px 0px #DBA67B;

  }
}

#events{
  color: #458985;
  min-height: 100%;
  background-size: cover;
  background-image: url('./img/local_13.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-family: 'Gravitas One', cursive;;
    font-size: 10em;
    text-align: center;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  }

}

.description {
  color: #A55C55;
  background: rgba(255,255,255,.90);
  margin: 1em;
  padding: 3em;
  box-shadow: 4px 3px 0px #A55C55, 9px 8px 0px rgba(0,0,0,0.15);

}